---
layout: default
---

<div class="about-page">
  <head>
    <title>{{ site.author }}</title>
  </head>
  <div class="post-back">
    <a class="black-link" href="{% link index.md %}"> Home </a> •  About
  </div>
  <div class="about-header">
    {%- if site.moving.avatar_url -%}
    <img class="about-avatar" src="{{ site.moving.avatar_url }}" />
    {%- endif -%} {%- if site.author -%}
    <div class="about-info">
      <div class="about-your-name">
        {{ site.author | escape }}
      </div>
      {%- endif -%} 
      <p class="about-description">
      {%- if site.moving.about_you -%}
        {{ site.moving.about_you | escape }}
      {%- endif -%} 
      </p>
      {%- include social.html -%}
    </div>
  </div>

  <div class="about-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
</div>
