---
layout: default
---

<div class="home">
  <head>
      <title>{{ site.title }}</title>
  </head>
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
    <p class="home-sub-heading">{{ site.description }}</p>
  </div>
  {% if site.categories.size > 0 %}
  <ul class="post-list">
    {% for category in site.categories %}
    <h2 id="{{ category.first | downcase }}-ref" class="post-year">{{ category.first }}</h2>
      {% for post in category.last %}
        {% if forloop.first %}
        <ul>
        {% endif %}
        <li>
            {%- assign date_format = site.moving.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">
              {{ post.date | date: date_format }}
            </span>
            <a class="black-link post-link-layout" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
        </li>
        {% if forloop.last %}
        </ul>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
